@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.customCheckbox {
  display: inline-block;

  & input[type="checkbox"] {
    appearance: none;
    padding: 0;
    margin: 0;
  }

  &:has(input:focus) {
    outline: none;
    border: 1px solid color.$primary-300;
    border-radius: 6px;
    box-shadow: 0 0 0 4px rgb(244 235 255 / 100%);
  }

  .checkMarkWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .checkmark {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid color.$gray-300;
      background-color: white;
      transition: background-color 0.3s ease;

      &.checked {
        background: color.$primary-100;
        border: 1px solid color.$primary-600;
      }

      &.small {
        width: 16px;
        height: 16px;
        border-radius: 4px;
      }

      &.medium {
        width: 20px;
        height: 20px;
        border-radius: 6px;
      }

      & label {
        cursor: pointer;
        user-select: none;

        &.small {
          font: font.$text-sm-medium;
          margin-left: 16px;
        }

        &.medium {
          font: font.$text-md-medium;
          margin-left: 22px;
        }
      }
    }

    &:hover .checkmark {
      background: color.$primary-300;
      border: 1px solid color.$primary-600;
    }
  }
}

.disabled {
  color: color.$gray-300;
  pointer-events: none;
}
