@use "@styles/color";
@use "@styles/space";

.topNavigation {
  height: 100%;

  & ul {
    display: flex;
    align-items: center;
    gap: space.$s8;

    & li,
    a {
      list-style: none;
      text-decoration: none;
      color: color.$gray-500;

      &:hover {
        color: color.$primary-600;
      }
    }
  }
}
