@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.customSelect {
  min-width: 160px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;

  .customSelectButton {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid color.$gray-300;
    background-color: white;
    border-radius: 8px;
    color: color.$gray-900;
    padding: 10px 14px;
  }

  & .label {
    position: absolute;
    top: -21px;
    left: 0;
    color: color.$gray-700;
    font: font.$text-sm-medium;
  }

  & .error {
    position: absolute;
    top: 42px;
    left: 0;
    color: color.$error-500;
    font: font.$text-sm-regular;

    &:focus {
      outline: none;
    }
  }

  & .hint {
    position: absolute;
    top: 42px;
    left: 0;
    color: color.$gray-500;
    font: font.$text-sm-regular;
  }

  & .personIcon {
    margin-right: 8px;
  }

  .selectedOption {
    color: color.$gray-900;
    display: flex;
    align-items: center;
  }

  & .customOptionWrapper {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    box-shadow:
      0px 4px 6px -2px rgba(16, 24, 40, 0.05),
      0px 12px 16px -4px rgba(16, 24, 40, 0.1);

    & li {
      cursor: pointer;
    }
  }

  .customOption {
    position: relative;
    background-color: #fff;
    color: color.$gray-900;
    padding: 10px 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .customOptionIconWrapper {
    display: flex;
    align-items: center;
  }
}

.customSelectButton:focus {
  outline: none;
  border: 1px solid color.$primary-300;
  box-shadow:
    0 0 0 4px color.$primary-100,
    0 1px 2px 0 color.$gray-900;
}

.customSelectButton:disabled {
  outline: none;
  border: 1px solid color.$gray-300;
  color: color.$gray-500;
  background: color.$gray-50;
  cursor: not-allowed;
}
