@use "@styles/color";
@use "@styles/space";

.customSelect {
  width: 320px;

  .customSelectButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid color.$gray-300;
    background-color: white;
    border-radius: 8px;
    color: color.$gray-300;
    padding: 10px 14px;
    box-shadow: 0 1px 2px 0 #1018280d;
  }

  &:focus {
    outline: none;
    border: 1px solid color.$primary-300;
    box-shadow: 0 0 0 4px color.$primary-100;
    box-shadow: 0 1px 2px 0 #1018280d;
  }

  &:hover {
    border-color: #999;
  }

  &:disabled {
    border-color: color.$gray-50;
    color: color.$gray-500;
    cursor: not-allowed;
  }

  .selectedOption {
    color: color.$gray-900;
  }

  .customOption {
    // width: 108px;
    background-color: #fff;
    color: color.$gray-900;
    box-shadow: 0 12px 16px -4px #1018281a;
    padding: 10px 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: color.$primary-25;
    }
  }
}

.checkmark {
  color: red;
}
