@use "@styles/color";

.button {
  white-space: nowrap;
  cursor: pointer;
}

.small {
  padding: 14px 25px;
}

.medium {
  padding: 14px 25px;
}

.large {
  padding: 14px 25px;
}

.xlarge {
  padding: 14px 25px;
}

.primary {
  background: color.$primary-900;
  color: white;
}

.emptyGray {
  background: color.$gray-100;
  color: color.$gray-600;
}

.emptyError {
  background: color.$error-100;
  color: color.$error-600;
}

.icon {
  margin-right: 0.5rem;
}
