@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.button {
  cursor: pointer;
  font: font.$text-sm-regular;
  border-radius: space.$s2;
  display: flex;
  align-items: center;
  gap: space.$s2;

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &.small {
    padding: 8px 14px;
  }

  &.medium {
    padding: 10px 16px;
  }

  &.large {
    padding: 10px 18px;
  }

  &.xlarge {
    padding: 12px 20px;
  }

  &.primary {
    background: color.$primary-600;
    color: white;
    border: 1px solid color.$primary-600;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);


    &:hover {
      background: color.$primary-700;
      border: 1px solid color.$primary-700;
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    }

    &:focus {
      outline: none;
      background: color.$primary-600;
      border: 1px solid color.$primary-600;
      box-shadow:
        0 0 0 4px rgb(244 235 255 / 100%),
        0 1px 2px 0 rgb(16 24 40 / 5%);
    }

    &:disabled {
      background: color.$primary-200;
      border: color.$primary-200;
      cursor: not-allowed;
      user-select: none;
    }
  }

  &.secondary {
    background: color.$primary-50;
    border: 1px solid color.$primary-50;
    color: color.$primary-700;

    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);

    &:hover {
      background: color.$primary-100;
      border: 1px solid color.$primary-100;
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    }

    &:focus {
      outline: none;
      background: color.$primary-50;
      border: 1px solid color.$primary-50;
      box-shadow:
        0 0 0 4px rgb(244 235 255 / 100%),
        0 1px 2px 0 rgb(16 24 40 / 5%);
    }

    &:disabled {
      background: color.$primary-25;
      color: color.$primary-300;
      border: 1px solid color.$primary-25;
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    }
  }

  &.gray {
    background: white;
    border: 1px solid color.$gray-300;
    color: color.$gray-700;

    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);

    &:hover {
      background: color.$gray-50;
      border: 1px solid color.$gray-300;
      color: color.$gray-800;
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    }

    &:focus {
      outline: none;
      background: white;
      border: 1px solid color.$gray-700;
      box-shadow:
        0 0 0 4px rgb(242 244 247 / 100%),
        0 1px 2px 0 rgb(16 24 40 / 5%);
    }

    &:disabled {
      background: white;
      color: color.$gray-300;
      border: 1px solid color.$gray-200;
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    }
  }

  &.empty {
    color: color.$primary-700;

    &:hover {
      background: color.$primary-50;
    }

    &:focus {
      outline: none;
      background: white;
    }

    &:disabled {
      outline: none;
      color: color.$gray-300;
    }
  }

  &.emptyGray {
    color: color.$gray-500;

    &:hover {
      background: color.$gray-50;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      color: color.$gray-300;
    }
  }

  &.error {
    color: white;
    border: 1px solid color.$error-600;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    background: color.$error-600;

    &:hover {
      background: color.$error-700;
      border: 1px solid color.$error-700;
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    }

    &:focus {
      outline: none;
      background: color.$error-600;
      border: 1px solid color.$error-600;
      box-shadow:
        0 0 0 4px rgb(254 228 226 / 100%),
        0 1px 2px 0 rgb(16 24 40 / 5%);
    }

    &:disabled {
      background: color.$error-200;
      border: 1px solid color.$error-200;
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    }
  }

  &.emptyError {
    color: color.$error-700;

    &:hover {
      background: color.$error-50;
    }

    &:focus {
      outline: none;
      color: color.$error-700;
    }

    &:disabled {
      color: color.$error-300;
    }
  }

  &.leading {
    img {
      order: 1;
    }

    :not(img) {
      order: 2;
    }
  }

  &.trailing {
    :not(img) {
      order: 1;
    }

    img {
      order: 2;
    }
  }

  &.only {
    padding: 8px;

    :not(img) {
      display: none;
    }
  }
}
